* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4B2E2B;
}

header {
    margin: 0 auto;
    text-align: center;
}

header, h1 {
    font-weight: 700;
}